html, body, main {
  height: 100%;
  width: 100%;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  background-color: #272727;
  color: white;
}
code {
  font-size: 12px;
  padding: 6px !important;
}
a {
  color: #f05133; /** Git orange :) */
}
header {
  background-image: url("../imgs/header.png");
  background-size:cover;
  padding: 0px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  height: 400px;
}
h5.subheading {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 20px;
}
h1.title {
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 64px;
  text-align: center;
}
div.title-holder {
  background-color: rgba(97, 97, 97, 0.55);
  height: 100%;
}
img.git-logo {
  width: 64px;
  height: 64px;
  vertical-align: bottom;
}
div.header-rows {
  height: 33%;
padding: 0px;
margin: 0px;
}
div.search {
  opacity: 0.85;
}
div.commands {
  padding: 15px;
}
div.command-holder {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
span.what-it-do {
  font-weight: bold;
  padding-right: 10px;
}
.command-row {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
h5.not-found {
  padding-top: 70px;
  text-align: center;
}
footer.footer {
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
  margin-top: 40px;
}

/** Media queries **/
@media only screen and (max-width: 500px) {
  h5.subheading {
    font-size: 14px;
  }
  h1.title {
    font-size: 24px;
  }
  img.git-logo {
    height: 32px;
    width: 32px;
  }
  .commands {
    padding: 0px !important;
    padding-top: 20px !important;
  }
}
