<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="css/main.css" rel="stylesheet">
    <link href="css/prism.css" rel="stylesheet">
  </head>

  <style>

  </style>

  <body>

    <main>

      <header class="z-depth-2">
        <div class="title-holder">

          <div class="row header-rows">
          </div>

          <div class="row">
            <h1 class="title">
              Git Going
              <img class="git-logo" src="imgs/git.png">
              <h5 class="subheading"> git commands for humans </h5>
            </h1>
          </div>

        <div class="row header-rows">

          <div class="col s2"></div>

          <div class="col s8 search">

            <form id="search" v-on:submit.prevent="onSubmit">
               <div center class="input-field">

                 <input id="search"
                  type="search"
                  v-model="searchInput"
                  v-on:keyup="onKeyUp"
                  placeholder="Search for a keyword...">
                 <label for="search"></label>

               </div>
             </form>

          </div>

          <div class="col s2"></div>

        </div>

        </div>
      </header>

      <content>
        <div class="row">
          <div class="col s1"></div>
          <div class="col s10">

            <div id="commands" class="commands">

                <div
                  class="command-holder card grey"
                  v-for="command in getCommands()"
                >

                  <div class="command-row">
                    <span class="what-it-do"> What does it do? </span>
                    {{ command.use }}
                  </div>
                  <code class="command-row language-git">
                     {{ command.command }}
                  </code>
                  <div class="command-row">
                     {{ command.explanation }}
                  </div>

                </div>
                <div v-if="!getCommands()">
                  <h5 class="not-found">
                    Sorry, no commands found :(
                    <br><br>
                    Why not <a href="https://www.github.com/JamesMilnerUK/git-going">add one</a>?
                  </h5>
                </div>

            </div>

          </div>
          <div class="col s1"></div>
        </div>
      </content>
      <footer class="footer">
        A project started with love by <a href="https://twitter.com/JamesLMilner">James Milner</a> using Vue.js
      </footer>
    </main>
    <script type="text/javascript" src="bower_components/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="js/git-going-commands.js"></script>
    <script type="text/javascript" src="js/git-going.js"></script>
    <script type="text/javascript" src="js/prism.js"></script>
  </body>
</html>
